---
import IconLink from "./IconLink.astro";

import GitHub from "./icons/GitHub.astro";
import Bullseye from "./icons/Bullseye.astro";

interface Tag {
    name: string;
    classList: string;
    icon: any;
}

interface Project {
    title: string;
    description: string;
    image: string;
    tags: Tag[];
    github?: string;
    link?: string;
}

const { title, description, image, tags, github, link } = Astro.props
    .project as Project;
---

<article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
    <div class="w-full md:w-1/2">
        <div
            class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
        >
            <img class="object-cover object-top w-full transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} alt={title} />
        </div>
    </div>
    <div class="w-full md:w-1/2 md:max-w-lg">
        <h3 class="text-xl font-semibold">{title}</h3>
        <ul class="flex flex-wrap flex-row gap-2 my-5">
            {
                tags.map((tag) => (
                    <li>
                        <span
                            class={`flex gap-x-2 rounded-full text-xs ${tag.classList} py-2 px-2 font-bold `}
                        >
                            <tag.icon class="size-4" />
                            {tag.name}
                        </span>
                    </li>
                ))
            }
        </ul>
        <p class="text-gray-700/80 dark:text-gray-200/80 text-pretty">
            {description}
        </p>
        <footer class="flex items-end justify-start mt-4 gap-x-4">
            {github && <IconLink href={github} label="GitHub" icon={GitHub} />}
            {link && <IconLink href={link} label="Preview" icon={Bullseye} />}
        </footer>
    </div>
</article>
